<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Interview Suite" parallel="methods" thread-count="4">
<listeners>
	<listener class-name = "aptara.listeners.TestListener"/>
</listeners> 
  <test name="Home Page Test">
    <classes>
      <class name="aptara.BaseTest.HomePageTest"/>
    </classes>
  </test>
</suite> 


<!--  parallel="methods" thread-count="2" -->